body {
    background-image: linear-gradient(rgb(48, 48, 48), black);
    background-repeat: no-repeat;
    background-size: auto;
    overflow: auto;
}

#stardiv1 {
    position: relative;
    height: 100vh;
    p {
        color: white;
        text-shadow: 1px 1px 3px white;
        letter-spacing: 2em;
        padding: 3em;
    }
}

#myAnimation {
    position: absolute;
}